apiVersion: v1
kind: Service
metadata:
  name: spring-boot-service
  namespace: spring-boot-postgres-demo
spec:
  type: NodePort
  selector:
    app: spring-boot-app
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080
