name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up kubectl
        uses: azure/setup-kubectl@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Configure kubeconfig
        run: echo "${{ secrets.KUBECONFIG_CONTENT }}" > kubeconfig.yaml

      - name: Set KUBECONFIG
        run: export KUBECONFIG=kubeconfig.yaml

      - name: Deploy with Helm
        run: |
          helm upgrade --install springboot-release ./spring-boot-postgres \
            --namespace spring-boot-postgres-demo \
            --set image.tag=${{ github.sha }}